<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>To Do List</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
  </head>
  <body>
    <h1>My To Do List</h1>
    <div id="todo-table">
      <form class="" action="index.html" method="post">
        <input type="text" name="item" placeholder="Add new item..." required>
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>
    </div>
  </body>
</html>
